@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

h1 {
  @apply text-lg md:text-2xl text-secondary my-4 text-center;
}

form {
  @apply text-secondary space-y-default max-w-[500px] md:max-w-[820px] mx-auto px-4 md:px-0;
}

input,
.input {
  @apply w-full py-2 px-4 border-2 border-silver bg-middlegrey md:py-0 md:h-[30px] md:px-1;
}

select {
  @apply text-secondary py-1 px-4 border-2 border-secondary bg-white md:py-0 md:h-[30px];
}

.button-primary {
  @apply text-middlegrey bg-button p-3 rounded-lg text-md;
}

.button-secondary {
  @apply border border-button text-button p-3 rounded-lg text-md;
}

.label-and-input {
  @apply flex flex-col gap-3 md:flex-row md:items-center md:gap-4;
}

.label-and-input label {
  @apply text-lg md:text-xl md:w-1/4;
}

.label-and-input input,
.label-and-input select,
.label-and-input textarea {
  @apply md:flex-1;
}

.label-and-input textarea {
  @apply h-auto;
}

.list-container {
  @apply w-full text-md text-secondary;
}

.list-entry {
  @apply border-t last:border-b border-secondary p-4 md:px-6 block w-full;
}

.space-y-default {
  @apply space-y-6;
}
