@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Verdana';
    src: local('VerdanaRegular'), url(./assets/fonts/VerdanaRegular.ttf);
    font-style: normal;
}

/* @font-face {
    font-family: 'Verdana';
    src: local('VerdanaBold'), url(./assets/fonts/VerdanaBold.ttf);
    font-style: bold;
} */

@tailwind utilities;

h1 {
    @apply text-xl;
}
