@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VERDANA';
  src: url('../../public/fonts/verdana.ttf');
}

@layer base {
  .ionic-rounded-full {
    --border-radius: 100%;
  }

  .ionic-bg-primary {
    --background: #3e5b53;
  }

  .ionic-bg-secondary {
    --background: #71ada8;
  }

  .ionic-bg-highlight {
    --background: #79ea04;
  }

  .ionic-border-highlight {
    --border-color: #79ea04;
    --border-width: 4px;
    --border-style: solid;
  }

  .ionic-border-highlight-narrow {
    @apply ionic-border-highlight;
    --border-width: 2px;
    --border-radius: 10px;
  }

  .ionic-border-highlight-muted {
    --border-color: #79ea0488;
  }
}

* {
  @apply font-verdana;
}

p {
  @apply leading-5 text-white;
}

.button {
  @apply text-highlight;
  --background: clear;
  --box-shadow: none;
}
